<div class="container-galpao" id="products">
   <div class="container down-container " >
    <div class="section" >





    <div class="row " >
      <div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_1.jpg?raw=true" title="Title #14">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_1.jpg?raw=true" alt="Title #14" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">6x6 Piramidal</div>

			              </div>
						</li>

						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_2.jpg?raw=true" title="Title #15">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_2.jpg?raw=true" alt="Title #15" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">6x6 Piramidal</div>

			              </div>
						</li>

						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_3.jpg?raw=true" title="Title #16">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_3.jpg?raw=true" alt="Title #16" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">6x6 Piramidal</div>

			              </div>
									</li>

									<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_4.jpg?raw=true" title="Title #17">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_4.jpg?raw=true" alt="Title #17" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">6x6 Piramidal</div>

			              </div>
									</li>

									<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_5.jpg?raw=true" title="Title #18">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_5.jpg?raw=true" alt="Title #18" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">6x6 Piramidal</div>

			              </div>
						</li>

						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_1.jpg?raw=true" title="Title #18">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_1.jpg?raw=true" alt="Title #18" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">10x10 Piramidal</div>

			              </div>
									</li>

									<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_2.jpg?raw=true" title="Title #19">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_2.jpg?raw=true" alt="Title #19" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">10x10 Piramidal</div>

			              </div>
						</li>

						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_3.jpg?raw=true" title="Title #20">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_3.jpg?raw=true" alt="Title #20" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">10x10 Piramidal</div>

			              </div>
						</li>

						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_4.jpg?raw=true" title="Title #22">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_4.jpg?raw=true" alt="Title #22" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">10x10 Piramidal</div>

			              </div>
						</li>


						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_5.jpg?raw=true" title="Title #21">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/10x10_piramidal/10x10_5.jpg?raw=true" alt="Title #21" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">10x10 Piramidal</div>

			              </div>
						</li>


						<!--############## 15 ###############-->


						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_1.jpg?raw=true" title="Title #22">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_1.jpg?raw=true" alt="Title #22" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_2.jpg?raw=true" title="Title #23">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_2.jpg?raw=true" alt="Title #23" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>

			            <li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_3.jpg?raw=true" title="Title #24">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_3.jpg?raw=true" alt="Title #24" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_5.jpg?raw=true" title="Title #25">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_5.jpg?raw=true" alt="Title #25" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_6.jpg?raw=true" title="Title #26">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_6.jpg?raw=true" alt="Title #26" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_7.jpg?raw=true" title="Title #27">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_7.jpg?raw=true" alt="Title #27" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_8.jpg?raw=true" title="Title #28">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_8.jpg?raw=true" alt="Title #28" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						<li>
			              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_9.jpg?raw=true" title="Title #29">
			                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/15x15_piramidal/15x15_9.jpg?raw=true" alt="Title #29" class="small_img response-img" />
			              </a>
			              <div class="caption">

			                <div class="image-title">15x15 Piramidal</div>

			              </div>
						</li>
						
					</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});

				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              '',
					pauseLinkText:             '',
					prevLinkText:              '',
					nextLinkText:              '',
					nextPageLinkText:          'Proximo &rsaquo;',
					prevPageLinkText:          '&lsaquo; Anterior',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>
    </div>



  </div>
 </div>
</div>
