<div class="container-galpao" id="products">
   <div class="container down-container " >
    <div class="section" >





    <div class="row " >
      <div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_1.jpg?raw=true" title="Title # 0">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_1.jpg?raw=true" alt="Title #0"  class="small_img" />
							</a>
							<div class="caption">
								<div class="image-title">2x2 Sanfonadas</div>
							</div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_2.jpg?raw=true" title="Title # 1">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_2.jpg?raw=true" alt="Title #1"  class="small_img" />
							</a>
							<div class="caption">
								<div class="image-title">2x2 Sanfonadas</div>
							</div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_3.jpg?raw=true" title="Title # 2">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/2x2/2x2_3.jpg?raw=true" alt="Title #2"  class="small_img" />
							</a>
							<div class="caption">
								<div class="image-title">2x2 Sanfonadas</div>
							</div>
						</li>

				

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_1.jpg?raw=true" title="Title # 5">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_1.jpg?raw=true" alt="Title #5"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">3x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_2.jpg?raw=true" title="Title # 6">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_2.jpg?raw=true" alt="Title #6"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">3x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_3.jpg?raw=true" title="Title # 7">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_3.jpg?raw=true" alt="Title #7"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">3x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_4.jpg?raw=true" title="Title # 8">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_4.jpg?raw=true" alt="Title #8"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">3x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_5.jpg?raw=true" title="Title # 9">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/3x3/3x3_5.jpg?raw=true" alt="Title #9"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">3x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_1.jpg?raw=true" title="Title # 10">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_1.jpg?raw=true" alt="Title #10"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">4,5x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_2.jpg?raw=true" title="Title # 11">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_2.jpg?raw=true" alt="Title #11"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">4,5x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_3.jpg?raw=true" title="Title # 12">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_3.jpg?raw=true" alt="Title #12"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">4,5x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_4.jpg?raw=true" title="Title # 13">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_4.jpg?raw=true" alt="Title #13"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">4,5x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_5.jpg?raw=true" title="Title # 14">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_5.jpg?raw=true" alt="Title #14"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">4,5x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_2.jpg?raw=true" title="Title # 15">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_2.jpg?raw=true" alt="Title #15"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">6x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_3.jpg?raw=true" title="Title # 16">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_3.jpg?raw=true" alt="Title #16"  class="small_img" />
              </a>
              <div class="caption">
                <div class="image-title">6x3 Sanfonadas</div>
              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_4.jpg?raw=true" title="Title #17">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_4.jpg?raw=true" alt="Title #17" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x3 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_5.jpg?raw=true" title="Title #18">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/6x3/6x3_5.jpg?raw=true" alt="Title #17" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x3 Piramidal</div>

              </div>
						</li>						

					</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});

				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              '',
					pauseLinkText:             '',
					prevLinkText:              '',
					nextLinkText:              '',
					nextPageLinkText:          'Proximo &rsaquo;',
					prevPageLinkText:          '&lsaquo; Anterior',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>
    </div>



  </div>
 </div>
</div>
