/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";


 // Place all the styles related to the welcome controller here.
 // They will automatically be included in application.css.
 // You can use Sass (SCSS) here: http://sass-lang.com/
 /* Custom Stylesheet */
 /**
  * Use this file to override Materialize files so you can update
  * the core Materialize files in the future
  *
  * Made By MaterializeCSS.com
  */


  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0;
    font: inherit;
    color: inherit;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
  }
  legend {
    padding: 0;
    border: 0;
  }
  textarea {
    overflow: auto;
  }




 nav{
   height: 100px;
 }

 nav img{
   margin-top: -20px;
   width: 350px;
   height: 80px;
 }


 nav ul a,
 nav .brand-logo {
   margin-top: 25px;
   color: #444;
   text-transform: uppercase;
 }

 nav ul a:hover{
   background: none;
 }

 @media only screen and (max-width: 993px){
   nav img{
     width: 250px;
     height: 50px;
   }
   nav{
     height: 75px;
   }

 }


 .brand-logo{
   margin-left: 150px;
 }

 p {
   line-height: 2rem;
 }

 .button-collapse {
   color: #d84315;
 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }

 @media only screen and (max-width : 992px) {
   .brand-logo{
     position: center;
     margin-left: 75px;
   }

   .button-collapse{
     margin-left: 25px;
   }

   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
 }

 .right{
   margin-right: 90px;
 }


  @media screen and (max-width : 392px) {
     .parallax-container .banner_lws {
       font-size: 2em;
     }

     .parallax-container .logo_lws {
       font-size: 1.5em;
     }

     .deep-orange{
       height: 100px;
     }

     .logo_lws h1{
       font-size: 25px;
       margin-top: 30px;
     }
 }


 .banner_lws{
   margin-top: 100px;
 }


 nav{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   width: 100%;
 }

 .down_container{
   margin-top: 50px;
 }

 .container-about{
   background: #F5FAFF;
   min-height: 700px;
 }

 .container-product{
   background: #7C4F3F;
   min-height: 700px;
 }


 .container-contacts{
   background: #F5FAFF;
   min-height: 700px;
 }


 .container-cases{
  background: #7A7D7F;
  min-height: 500px;
}

.container-cases  img{
  margin-top: 50px;
 -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin-left: 20px;
  transition: 0.5s ease;
  height: 200px;
  width: 200px;
}
.container-cases  img:hover{
  -webkit-filter:none;
  filter: none;

}

@media screen and (max-width: 802px){
  .container-cases  img{
    margin-left: 75px;
  }

}

@media screen and (max-width: 511px){
  .container-cases  img{
    margin-left: 125px;
  }

}
@media screen and (max-width: 450px){
  .container-cases  img{
    margin-left: 100px;
  }

}
@media screen and (max-width: 395px){
  .container-cases  img{
    margin-left: 75px;
  }

}
@media screen and (max-width: 360px){
  .container-cases  img{
    margin-left: 60px;
  }

}



 .title-harvy{
   margin-top: 100px;
   letter-spacing: 4px;
    text-transform: uppercase;
 }

 .white-text u{
   margin-top: 50px;
   color: white;
 }


 .topo {
   cursor: pointer;
   position: fixed;
   bottom: 3.5em;
   right: 3.5em;
   display: none;
   z-index: 50;
   background-color: #c26262;
   border-color: #fff;
   border-witdh: 2px;
   border-witdh: medium;
   border-style: solid;
   border-radius: 3px;
   color: #fff;
   padding: 1em 2rem;
   text-decoration: none;
   box-sizing: border-box;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
 }


 @media screen and (max-width : 392px) {
   .topo{
     visibility: hidden;
   }
 }




 .parallax-container{
   min-height: 490px;
 }



 input[type="text"], input[type="email"], input[type="password"], textarea{
   width:100%;
   max-width:100%;
   height: 3em;
   border: 2px solid #000000;
   padding: 1em;
   margin: .5em 0 2em 0;
 }

 input[type="text"]:focus:not([readonly]) {
   border-bottom:  1px solid #000000;
   box-shadow: 0 1px 0 0 #000000;
 }

 input[type="text"], input[type="email"]{
    width: 850px;
    border-style: #000;
 }


 @media screen and (max-width:1073px) {
   input[type="text"], input[type="email"]{
      width: 680px;
   }
 }

 @media screen and (max-width:1059px) {
   input[type="text"], input[type="email"]{
      width: 660px;
   }
 }


 @media screen and (max-width:1036px) {
   input[type="text"], input[type="email"]{
      width: 630px;
   }
 }




  @media screen and (max-width:993px) {
    input[type="text"], input[type="email"]{
       width: 627px;
    }
  }

  @media screen and (max-width:981px) {
    input[type="text"], input[type="email"]{
       width: 770px;
    }
  }

  @media screen and (max-width:949px) {
    input[type="text"], input[type="email"]{
       width: 740px;
    }
  }


  @media screen and (max-width:949px) {
    input[type="text"], input[type="email"]{
       width: 740px;
    }
  }

  @media screen and (max-width:915px) {
    input[type="text"], input[type="email"]{
       width: 710px;
    }
  }

  @media screen and (max-width:412px) {
    input[type="text"], input[type="email"]{
       width: 315px;
    }
  }


  @media screen and (max-width:384px) {
    input[type="text"], input[type="email"]{
       width: 292px;
    }
  }


  @media screen and (max-width:375px) {
    input[type="text"], input[type="email"]{
       width: 285px;
    }
  }

 @media screen and (max-width:360px) {
   input[type="text"], input[type="email"]{
      width: 270px;
   }
 }



 @media screen and (max-width:320px) {
   input[type="text"], input[type="email"]{
      width: 235px;
   }
 }




 textarea{
   min-height:15em;
 }

 input[type="submit"], .btn{
   outline:none;
   background: transparent;
   text-align:center;
 }


 .slider{
   margin-top: 80px;
   margin-left: 50px;
   position: relative;
 }

 @media screen and (max-width: 600px){
   .slider{
     margin-top: 80px;
     margin-left: -3.8px;
     position: relative;
   }
 }



 nav ul li:after {
   content: '';
   display: block;
   margin: auto;
   height: 3px;
   width: 0px;
   background: transparent;
   transition: width .5s ease, background-color .5s ease;
 }

 nav ul li:hover:after {
   width: 100%;
   background: #7C4F3F;
 }


 .slider .indicators .indicator-item.active{
   background: #7C4F3F;
 }
