<div class="container-galpao" id="products">
   <div class="container down-container " >
    <div class="section" >





    <div class="row " >
      <div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" name="leaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_1.jpg?raw=true" title="Title # 0">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_1.jpg?raw=true" alt="Title #0" width="75" height="75" class="small_img" />
							</a>
							<div class="caption">
								<div class="image-title">3x3 Piramidal</div>
							</div>
						</li>

						<li>
							<a class="thumb" name="drop" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_2.jpg?raw=true" title="Title #1">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_2.jpg?raw=true" alt="Title #1" class="small_img response-img" />
							</a>
							<div class="caption">
                <div class="image-title">3x3 Piramidal</div>
							</div>
						</li>

						<li>
							<a class="thumb" name="bigleaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_3.jpg?raw=true" title="Title #2">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_3.jpg?raw=true" alt="Title #2"  class="small_img response-img"/>
							</a>
							<div class="caption">
								 <div class="image-title">
                   3x3 Piramidal
								 </div>
							</div>
						</li>

						<li>
              <a class="thumb" name="bigleaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_4.jpg?raw=true" title="Title #3">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_4.jpg?raw=true" alt="Title #3"  class="small_img response-img"/>
							</a>
							<div class="caption">
								 <div class="image-title">
                   3x3 Piramidal
								 </div>
							</div>
						</li>

						<li>
              <a class="thumb" name="bigleaf" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_5.jpg?raw=true" title="Title #4">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_5.jpg?raw=true" alt="Title #4"  class="small_img response-img"/>
							</a>
							<div class="caption">
								 <div class="image-title">
                   3x3 Piramidal
								 </div>
							</div>
						</li>

						<li>
							<a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_1.jpg?raw=true" title="Title #5">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_1.jpg?raw=true" alt="Title #5" class="small_img response-img" />
							</a>
							<div class="caption">
								<div class="image-title">4x4 Piramidal</div>
							</div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_2.jpg?raw=true" title="Title #6">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_2.jpg?raw=true" alt="Title #6" class="small_img response-img" />
							</a>
							<div class="caption">
								<div class="image-title">4x4 Piramidal</div>
							</div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_3.jpg?raw=true" title="Title #7">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_3.jpg?raw=true" alt="Title #7" class="small_img response-img" />
              </a>
              <div class="caption">
                <div class="image-title">4x4 Piramidal</div>
              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_4.jpg?raw=true" title="Title #8">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_4.jpg?raw=true" alt="Title #8" class="small_img response-img" />
              </a>
              <div class="caption">
                <div class="image-title">4x4 Piramidal</div>
              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_5.jpg?raw=true" title="Title #9">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/4x4_piramidal/4X4_5.jpg?raw=true" alt="Title #9" class="small_img response-img" />
							</a>
							<div class="caption">
								<div class="image-title">4x4 Piramidal</div>
							</div>
						</li>

						<li>
							<a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_1.jpg?raw=true" title="Title #10">
								<img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_1.jpg?raw=true" alt="Title #10" class="small_img response-img" />
							</a>
							<div class="caption">

								<div class="image-title">5x5 Piramidal</div>

							</div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_2.jpg?raw=true" title="Title #11">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_2.jpg?raw=true" alt="Title #11" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">5x5 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_3.jpg?raw=true" title="Title #11">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_3.jpg?raw=true" alt="Title #11" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">5x5 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_4.jpg?raw=true" title="Title #12">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_4.jpg?raw=true" alt="Title #12" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">5x5 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_5.jpg?raw=true" title="Title #13">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/5x5_piramidal/5x5_5.jpg?raw=true" alt="Title #13" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">5x5 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_1.jpg?raw=true" title="Title #14">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_1.jpg?raw=true" alt="Title #14" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x6 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_2.jpg?raw=true" title="Title #15">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_2.jpg?raw=true" alt="Title #15" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x6 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_3.jpg?raw=true" title="Title #16">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_3.jpg?raw=true" alt="Title #16" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x6 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_4.jpg?raw=true" title="Title #17">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_4.jpg?raw=true" alt="Title #17" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x6 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_5.jpg?raw=true" title="Title #18">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/6x6_piramidal/6x6_5.jpg?raw=true" alt="Title #18" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">6x6 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_1.jpg?raw=true" title="Title #18">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_1.jpg?raw=true" alt="Title #18" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">8x8 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_2.jpg?raw=true" title="Title #19">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_2.jpg?raw=true" alt="Title #19" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">8x8 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_3.jpg?raw=true" title="Title #20">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_3.jpg?raw=true" alt="Title #20" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">8x8 Piramidal</div>

              </div>
						</li>

						<li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_5.jpg?raw=true" title="Title #21">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_5.jpg?raw=true" alt="Title #21" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">8x8 Piramidal</div>

              </div>
						</li>

            <li>
              <a class="thumb" href="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_14.jpg?raw=true" title="Title #22">
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/8x8_piramidal/8x8_14.jpg?raw=true" alt="Title #22" class="small_img response-img" />
              </a>
              <div class="caption">

                <div class="image-title">8x8 Piramidal</div>

              </div>
						</li>
					</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});

				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              '',
					pauseLinkText:             '',
					prevLinkText:              '',
					nextLinkText:              '',
					nextPageLinkText:          'Proximo &rsaquo;',
					prevPageLinkText:          '&lsaquo; Anterior',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>
    </div>



  </div>
 </div>
</div>
